@media only screen {
  body {
    background: #222;
    color: #fff;
    font-family: "Liberation Sans", sans-serif;
  }
  header {
    margin: 0 0 5px 0;
  }
  main {
    border: 4px solid #0f7;
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
  }
  h1:first-of-type {
    background: #444;
    border-bottom: 4px solid #0f7;
    font-family: monospace;
    margin: -20px -20px 20px -20px;
    padding: 20px;
  }
  a {
    color: #0f7;
  }
  
  section:first-of-type {
    border-top: none;
  }
  section {
    border-top: 4px solid #0f7;
  }
  
  #design-blog article > p:first-of-type {
    font-style: italic;
  }
}